table {
    max-width: 800px;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #e5e5e5;
    cursor: pointer;
}


td.numeric {
    text-align: right;
}
