body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 15px;
  background-color: #ccc;
}

#root {
  max-width: 600px;
  width: 100%;
  text-align: center;
  padding: 2px 20px 5px 20px;
  margin: auto;
  background-color: #fff;
}

.container {
  position: relative;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #e5e5e5;
  text-align: center;
}

tr {
  background-color: #fff;
}

td.numeric {
  text-align: right;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
