body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 15px;
  background-color: #ccc;
}

#root {
  max-width: 600px;
  width: 100%;
  text-align: center;
  padding: 2px 20px 5px 20px;
  margin: auto;
  background-color: #fff;
}

.container {
  position: relative;
  text-align: left;
}

.align-right {
  text-align: right;
}

div {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

table {
  border-collapse: collapse;
  width: 100%;
  /* Stop overflow outside the container, on very wide values in the table. */
  max-width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #e5e5e5;
  text-align: center;
}

tr {
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

blockquote {
  margin: 1em 0;
  padding: 0.5em 1em;
  border-left: 0.25em solid #ddd;
  background-color: #f8f8f8;
}

blockquote p {
  margin: 0;
}

.numeric-input {
  width: 10em;
  font-size: medium;
}
